doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Time Tracking Application
    link(rel="stylesheet" href="/resources/css/styles.css")
  body

  block content
    div No Content - Basic Template